# IDE files

.idea/*


# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# NPM modules
node_modules/*

# Build files

build/*


